<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">

   <!-- VUE CDN -->
   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
   <!-- AXIOS CDN -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
       integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
       crossorigin="anonymous"></script>

    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="./images/favicon.png">
    <!-- Page Title  -->
    <title>General Dashboard | DashLite Admin Template</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="./assets/css/dashlite.css?ver=1.9.2">
    <link id="skin-default" rel="stylesheet" href="./assets/css/theme.css?ver=1.9.2">
</head>

<body class="nk-body bg-lighter npc-default has-sidebar ">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main" id="app-vue">
            <!-- sidebar @s -->
            <div class="nk-sidebar nk-sidebar-fixed is-light " data-content="sidebarMenu">
                <div class="nk-sidebar-element nk-sidebar-head">
                    <div class="nk-sidebar-brand">
                        <a href="index.html" class="logo-link nk-sidebar-logo">
                            <img class="logo-light logo-img" src="./images/logo.png" srcset="./images/logo2x.png 2x" alt="logo">
                            <img class="logo-dark logo-img" src="./images/logo-dark.png" srcset="./images/logo-dark2x.png 2x" alt="logo-dark">
                            <img class="logo-small logo-img logo-img-small" src="./images/logo-small.png" srcset="./images/logo-small2x.png 2x" alt="logo-small">
                        </a>
                    </div>
                    <div class="nk-menu-trigger mr-n2">
                        <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
                        <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                    </div>
                </div><!-- .nk-sidebar-element -->
                <div class="nk-sidebar-element">
                    <div class="nk-sidebar-content">
                        <div class="nk-sidebar-menu" data-simplebar>
                            <ul class="nk-menu">
                                <li class="nk-menu-heading">
                                    <h6 class="overline-title text-primary-alt"></h6>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item">
                                    <a href="ecommerce/index.html" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-bag"></em></span>
                                        <span class="nk-menu-text">Overview</span><span class="nk-menu-badge badge-danger">1</span>
                                    </a>
                                </li>
                                 <li class="nk-menu-item">
                                    <a href="index-analytics.html" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-growth-fill"></em></span>
                                        <span class="nk-menu-text">Dashboard</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-heading">
                                    <h6 class="overline-title text-primary-alt">New Search</h6>
                                </li><!-- .nk-menu-heading -->
                                <li class="nk-menu-item has-sub">
                                    <a href="#" class="nk-menu-link nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-users-fill"></em></span>
                                        <span class="nk-menu-text">Search for Person</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item has-sub">
                                    <a href="#" class="nk-menu-link nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-building-fill"></em></span>
                                        <span class="nk-menu-text">Verify Company</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-heading">
                                    <h6 class="overline-title text-primary-alt">Report</h6>
                                </li><!-- .nk-menu-heading -->
                                <li class="nk-menu-item has-sub">
                                    <a href="#" class="nk-menu-link nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-file-text-fill"></em></span>
                                        <span class="nk-menu-text">Verification History</span>
                                    </a> </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item has-sub">
                                    <a href="#" class="nk-menu-link nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-files-fill"></em></span>
                                        <span class="nk-menu-text">Billing History</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item has-sub">
                                    <a href="apistatus.html" class="nk-menu-link nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-server-fill"></em></span>
                                        <span class="nk-menu-text">API Status</span>
                                    </a>
                                </li>
                                <li class="nk-menu-heading">
                                    <h6 class="overline-title text-primary-alt">Administration</h6>
                                </li><!-- .nk-menu-heading -->
                                <li class="nk-menu-item has-sub">
                                    <a href="settings.html" class="nk-menu-link nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-setting-fill"></em></span>
                                        <span class="nk-menu-text">Settings</span>
                                    </a> </li><!-- .nk-menu-item -->
                            </ul><!-- .nk-menu -->
                        </div><!-- .nk-sidebar-menu -->
                    </div><!-- .nk-sidebar-content -->
                </div><!-- .nk-sidebar-element -->
            </div>
            <!-- sidebar @e -->
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <!-- main header @s -->
                <div class="nk-header nk-header-fixed is-light">
                    <div class="container-fluid">
                        <div class="nk-header-wrap">
                            <div class="nk-menu-trigger d-xl-none ml-n1">
                                <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                            </div>
                            <div class="nk-header-brand d-xl-none">
                                <a href="index.html" class="logo-link">
                                    <img class="logo-light logo-img" src="./images/logo.png" srcset="./images/logo2x.png 2x" alt="logo">
                                    <img class="logo-dark logo-img" src="./images/logo-dark.png" srcset="./images/logo-dark2x.png 2x" alt="logo-dark">
                                </a>
                            </div><!-- .nk-header-brand -->
                            <div class="nk-header-news d-none d-xl-block">
                                <div class="nk-news-list">
                                    <a class="nk-news-item" href="#">
                                        <div class="nk-news-icon">
                                            <em class="icon ni ni-card-view"></em>
                                        </div>
                                        <div class="nk-news-text">
                                            <p>Updates: <span> We are currently experiencing an issue across the platform that may cause some</span></p>
                                            <em class="icon ni ni-external"></em>
                                        </div>
                                    </a>
                                </div>
                            </div><!-- .nk-header-news -->
                            <div class="nk-header-tools">
                                <ul class="nk-quick-nav">
                                    <li class="dropdown user-dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <div class="user-toggle">
                                                <div class="user-avatar sm">
                                                    <em class="icon ni ni-user-alt"></em>
                                                </div>
                                                <div class="user-info d-none d-md-block">
                                                    <div class="user-status">Administrator</div>
                                                    <div class="user-name dropdown-indicator">Sadiq Arogundade</div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1">
                                            <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                                <div class="user-card">
                                                    <div class="user-avatar">
                                                        <span>SA</span>
                                                    </div>
                                                    <div class="user-info">
                                                        <span class="lead-text">Sadiq Arogundade</span>
                                                        <span class="sub-text">surdykbaba@gmail.com</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="user-profile-regular.html"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
                                                    <li><a href="user-profile-setting.html"><em class="icon ni ni-setting-alt"></em><span>Account Setting</span></a></li>
                                                    <li><a href="user-profile-activity.html"><em class="icon ni ni-activity-alt"></em><span>Login Activity</span></a></li>
                                                </ul>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="#"><em class="icon ni ni-signout"></em><span>Logout out</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul><!-- .nk-quick-nav -->
                            </div><!-- .nk-header-tools -->
                        </div><!-- .nk-header-wrap -->
                    </div><!-- .container-fliud -->
                </div>
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="components-preview wide-md mx-auto">
                                    <div class="nk-block-head nk-block-head-lg wide-sm">
                                        <div class="nk-block-head-content">
                                            <div class="nk-block-head-sub">
                                                <a class="back-to" href="index.html">
                                                    <span></span></a></div>
                                            <h2 class="nk-block-title fw-normal">Welcome, Sadiq Arogundade</h2>
                                            <div class="nk-block-des">
                                                <p class="lead">Learn about the awesome things you can do on your new dashbaord.</p>
                                            </div>
                                        </div>
                                    </div><!-- .nk-block-head -->
                                    <div class="nk-block nk-block-lg">
                                        <div class="row g-gs">
                                            <div class="nk-block">
                                                <div class="card">
                                                    <div class="card-inner">
                                                        <div class="align-center flex-wrap flex-md-nowrap g-4">
                                                            <div class="nk-block-content">
                                                                <div class="nk-block-content-head px-lg-4">
                                                                    <h5>KYC Verification <span class="badge badge-dim badge-danger badge-pill">Pending</span></h5>
                                                                    
                                                                    <p class="text-soft">To comply with regulation, you will have to go through identity verification (KYC/AML) to prevent fraud causes.</p>
                                                                </div>
                                                            </div>
                                                            <div class="nk-block-content flex-shrink-0">
                                                                <a href="#" class="btn btn-lg btn-outline-primary" data-toggle="modal" data-target="#profile-edit">Complete your KYC</a>
                                                            </div>
                                                        </div>
                                                    </div><!-- .card-inner -->
                                                </div><!-- .card -->
                                            </div><!-- .nk-block -->
                                            <div class="nk-block">
                                                <div class="card">
                                                    <div class="card-inner">
                                                        <div class="align-center flex-wrap flex-md-nowrap g-4">
                                                             <div class="nk-block-content">
                                                                <div class="nk-block-content-head px-lg-4">
                                                                    <h5><em class="ni ni-setting"></em> Security Settings</h5>
                                                                    <p class="text-soft">Ask a question or file a support ticket, manage request, report an issues. Our team support team will get back to you by email.</p>
                                                                </div>
                                                            </div>
                                                            <div class="nk-block-content flex-shrink-0">
                                                                <a href="#" class="btn btn-lg btn-outline-primary">Manage Your Account</a>
                                                            </div>
                                                        </div>
                                                    </div><!-- .card-inner -->
                                                </div><!-- .card -->
                                            </div><!-- .nk-block -->
                                            <div class="nk-block">
                                                <div class="card">
                                                    <div class="card-inner">
                                                        <div class="align-center flex-wrap flex-md-nowrap g-4">
                                                            <div class="nk-block-content">
                                                                <div class="nk-block-content-head px-lg-4">
                                                                    <h5><em class="ni ni-coins"></em> Billing History</h5>
                                                                    <p class="text-soft">Ask a question or file a support ticket, manage request, report an issues. Our team support team will get back to you by email.</p>
                                                                </div>
                                                            </div>
                                                            <div class="nk-block-content flex-shrink-0">
                                                                <a href="#" class="btn btn-lg btn-outline-primary "data-toggle="modal" data-target="#fundwallet">Fund wallet</a>
                                                            </div>
                                                        </div>
                                                    </div><!-- .card-inner -->
                                                </div><!-- .card -->
                                            </div><!-- .nk-block -->
                                            <div class="nk-block">
                                                <div class="card">
                                                    <div class="card-inner">
                                                        <div class="align-center flex-wrap flex-md-nowrap g-4">
                                                            <div class="nk-block-content">
                                                                <div class="nk-block-content-head px-lg-4">
                                                                    <h5><em class="ni ni-todo"></em> API Keys & Webhook</h5>
                                                                    <p class="text-soft">Ask a question or file a support ticket, manage request, report an issues. Our team support team will get back to you by email.</p>
                                                                </div>
                                                            </div>
                                                            <div class="nk-block-content flex-shrink-0">
                                                                <a href="#" class="btn btn-lg btn-outline-primary">API Settings</a>
                                                            </div>
                                                        </div>
                                                    </div><!-- .card-inner -->
                                                </div><!-- .card -->
                                            </div><!-- .nk-block -->
                                            <div class="nk-block">
                                                <div class="card">
                                                    <div class="card-inner">
                                                        <div class="align-center flex-wrap flex-md-nowrap g-4">
                                                              <div class="nk-block-content">
                                                                <div class="nk-block-content-head px-lg-4">
                                                                    <h5>We’re here to help you!</h5>
                                                                    <p class="text-soft">Ask a question or file a support ticket, manage request, report an issues. Our team support team will get back to you by email.</p>
                                                                </div>
                                                            </div>
                                                            <div class="nk-block-content flex-shrink-0">
                                                                <a href="#" class="btn btn-lg btn-outline-primary">Get Support Now</a>
                                                            </div>
                                                        </div>
                                                    </div><!-- .card-inner -->
                                                </div><!-- .card -->
                                            </div><!-- .nk-block -->
                                        </div><!-- .row -->
                                    </div><!-- .nk-block -->
                                </div><!-- .components-preview -->
                            </div>
                        </div>
                    </div>
                            <!-- @@ KYC MOdal @e -->
        <div class="modal fade" tabindex="-1" role="dialog" id="profile-edit">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                    <div class="modal-body modal-body-lg">
                        <h5 class="title">Update Profile</h5>
                        <ul class="nk-nav nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#personal">Personal Information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#address">Company Details</a>
                            </li>
                        </ul><!-- .nav-tabs -->
                        <div class="tab-content" >
                            
                            <div class="tab-pane active" id="personal">
                                <form class="row gy-4" @submit.prevent="handleSubmit" method="POST"> 
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="full-name">Full Name</label>
                                            <input type="text" class="form-control form-control-lg" id="full-name" value="Arogundade Sadiq" disabled placeholder="Enter Full name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="phonenumber">Phone Number</label>
                                            <input type="text" class="form-control form-control-lg" id="display-name" value="08082873187" disabled placeholder="Enter Phone Number">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="ID">NIN / BVN</label>
                                            <input  class="form-control form-control-lg" v-model="posts.nin" name="nin"  placeholder="Phone Number">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="birth-day">Date of Birth</label>
                                            <input  type="date" class="form-control form-control-lg"  v-model="posts.dob" name="dob"  placeholder="16-May-1960">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="form-label" for="birth-day">Address</label>
                                            <input type="text" class="form-control form-control-lg" id="birth-day" placeholder="Enter your home address">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                            <li>
                                                <button class="btn btn-lg btn-primary" type="submit">Update Profile</button>
                                            </li>
                                            <li>
                                                <a href="#" data-dismiss="modal" class="link link-light">Cancel</a>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                            </div><!-- .tab-pane -->
                            <div class="tab-pane" id="address">
                                <div class="row gy-4">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="address-l1">Company Name</label>
                                            <input type="text" class="form-control form-control-lg" id="address-l1" value="Kildeer Dri Limited">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="address-l2">Registration No</label>
                                            <input type="text" class="form-control form-control-lg" id="address-l2" value="rc 573922">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="upload-zone small bg-lighter dropzone dz-clickable">
                                            <div class="dz-message" data-dz-message="">
                                                <span class="dz-message-text"><span>Drag and drop</span> file here or <span>browse</span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="address-county">Country</label>
                                            <select class="form-select" id="address-county" data-ui="lg">
                                                <option>Nigeria</option>
                                                <option>United State</option>
                                                <option>United Kindom</option>
                                                <option>Australia</option>
                                                <option>India</option>
                                                <option>Bangladesh</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                            <li>
                                                <a href="#" class="btn btn-lg btn-primary">Update Company</a>
                                            </li>
                                            <li>
                                                <a href="#" data-dismiss="modal" class="link link-light">Cancel</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .tab-pane -->
                        </div><!-- .tab-content -->
                    </div><!-- .modal-body -->
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div><!-- .modal -->

         <!-- @@ KYC MOdal @e -->
         <div class="modal fade" tabindex="-1" role="dialog" id="fundwallet">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                        <div class="modal-body modal-body-lg">
                            <h5 class="nk-block-title">Confirm Order</h5>
                            <form action="pages/auths/auth-success-v2.html">
                                <div class="form-group">
                                    
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="email">Enter Amount</label>
                                    <input type="text" class="form-control form-control-lg" id="amount" placeholder="100,000">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="password">Choose wallet to Fund</label>
                                    <div class="form-group">
                                        
                                        <select class="form-select" id="address-county" data-ui="lg">
                                            <option>Kpower Limited - Wallet</option>
                                            <option>Script1 - Wallet</option>
                                            <option>BettaHealth - Wallet</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-control-xs custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkbox">
                                        <label class="custom-control-label" for="checkbox">I agree to Dashlite <a href="#">Privacy Policy</a> &amp; <a href="#"> Terms.</a></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-lg btn-primary btn-block">Continue</button>
                                </div>
                            </form>
                        </div><!-- .modal-body -->
                    </div><!-- .modal-dialog -->
        </div><!-- .modal -->
                </div>
                
                <!-- content @e -->
                <!-- footer @s -->
                <div class="nk-footer">
                    <div class="container-fluid">
                        <div class="nk-footer-wrap">
                            <div class="nk-footer-copyright"> &copy; 2020 Swiftend</a>
                            </div>
                            <div class="nk-footer-links">
                                <ul class="nav nav-sm">
                                    <li class="nav-item"><a class="nav-link" href="#">Terms</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Privacy</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Help</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
    <!-- VUE INSTANCE -->
    <script>

        const vueApp = new Vue({
            el: '#app-vue',
            data() {
                
                return {
                    posts : {
                        nin: null,
                        dob: null,
                    }
                   
                }
            },
            methods: {
               

                handleSubmit(){
                    console.log("i am here")
                    axios.post( "https://powerful-wave-30297.herokuapp.com/api/kyc", this.posts ,{
                       headers: {
                           Authorization: 'Bearer ' + localStorage.getItem('token')
                       }
                    })
                    
                    .then((result) => {
                        console.log(result);

                        nin: '';
                        dob: ''
                    })
                }

                // async handleSubmit() {
                //     try {
                //         const response = await axios.post('https://powerful-wave-30297.herokuapp.com/api/kyc', {
                //             nin: this.nin,
                //             dob: this.dob,
                //         });

                //     } catch (error) {
                //         console.log('try catch');
                //         alert("Incorrect Credentails !")
                //         console.log(error);
                //     }
                    
                // },

            }
        })
    </script>
    <!-- VUE INSTANCE -->
    <!-- JavaScript -->
    <script src="./assets/js/bundle.js?ver=1.9.2"></script>
    <script src="./assets/js/scripts.js?ver=1.9.2"></script>
</body>

</html>